@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    background: none;
    background-color: aliceblue;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 540px;
    top: 70px;
    background-color: white;
    border-width: 10px;
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.profile-area::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -2;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.profile-img {
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 5px;
    border-style: double;
    border-color: white;
    width: 240px;
    height: 240px;
    background: linear-gradient(
    45deg, 
    #5452ee, 
    #e73c7e, 
    #23a6d5, 
    #ffffff
    );
    border-radius: 220%;
    position: absolute;
    top: 10%;
}

.profile-img > img {
    width: 90%;
    height: 90%;
    border-radius: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    background: none;
    position: absolute;
    top: 56%;
}

.info > h2 {
    background: none;
}

a {
    background: none;
}

a :hover {
    font-weight: bold;
}

button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: #ffffff;
    background: #111;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 30px;
    border: none;
    border-radius: 10px;
    position: relative;
}
#button1 {
    background-color: #A25772;
}
#button2 {
    background-color: #121481;
}
#button3 {
    background-color: #7AB2B2;
}
#button4 {
    background-color: #4A55A2;
    cursor: pointer;
}
#button5 {
    background-color: #176B87;
    cursor: pointer;
}